body {  
    background-color: rgb(169, 169, 169);
}

h1 {
    color:rgb(169, 169, 169);
    background-color: black;
    text-align: center;
    font-size: 40px;
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

    margin: 0;
    padding-top: o;
    padding-bottom: 0;
}

.container {

}

#h2-name {
    text-align: center;
    text-decoration: underline;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: grey;
}

#bio-img {
    display: block;
    margin: 10px;
}

#main-bio {
    float: left;
}

.section-float-left {
    float: left;
    /* border: solid; */
}

#contact-bio {
    float: left;
    display: block;
    margin: auto;
}

.h3-soft {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}